@model PollModel
@using Nop.Web.Models.Polls;
<div class="block block-poll">
    <div class="blue-title">
        <h2 class="owl-title">@T("Polls.Title")</h2>
    </div>
    <div class="listbox">
        @Html.Partial("_Poll", Model)
    </div>
</div>
