
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}

<h2>Test</h2>

<div class="about-us">
    <div class="row">
        <div class="col-md-24">
            <h1>MBP Pro - машини сьогоднішнього дня для успіху бізнесу завтра</h1>
        </div>
        <div class="col-md-10">
            <img src="~/Content/Images/MBNPRO.jpg" />
        </div>
        <div class="col-md-14">
            <p>Наша компанія займається наданням інноваційних послуг в області постачання електроніки та добування криптовалюти. Історія нашого досвіду бере свій початок у далекому 2013 році. Саме тоді ми стали на дорогу інновацій і почали допомагати людям використовувати новітні технології для максимізації результатів діяльності у їх підприємницькій чи буденній діяльності.</p>
            <p>У нас є своя місія - зробити революцію у криптобізнесі. А наш головний принцип - надання нашим клієнтам доступного і якісного сервісу в області інноваційних технологій, а також у продажах електроніки для побутових потреб.</p>
            <br />
            <br />
        </div>
    </div>
    
    
    <div class="row">
        <div class="col-md-24">
            <h2>Наша команда</h2>
            <h5>До нашої Команди входять три ключові ланки, на яких основуються наші послуги.</h5>
        </div>
        <div class="col-md-8">
            <h1><i class="fa fa-users" aria-hidden="true"></i></h1>
            <h3>Творці</h3>
            <p>Фундамент нашої команди - три засновники, які є інженерами й експертами в мікро-нано технологіях.</p>
        </div>
        <div class="col-md-8">
            <h1><i class="fa fa-wrench" aria-hidden="true"></i></h1>
            <h3>Техніки</h3>
            <p>Майстри, які займаються дизайном, збіркою, діагностикою та ремонтом електротехніки.</p>
        </div>
        <div class="col-md-8">
            <h1><i class="fa fa-volume-control-phone" aria-hidden="true"></i></h1>
            <h3>Оператори</h3>
            <p>Працівники, які слідкують за тим, щоб запас електроніки на нашому складі завжди відповідали потребі наших клієнтів, і які стараються як можна швидше оброблювати замовлення та відповідати на запити.</p>
        </div>
        <div class="col-md-24">
            <p>Наша команда така ж як і ви. Але ми існуємо для того, щоб ваше життя стало простішим. Весь професіоналізм нашої команди направлений на забезпечення найкращого сервісу для Вас.</p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-24">
            <h2>Засновники</h2>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <img src="~/Content/Images/MBNPRO.jpg" />
        </div>
        <div class="col-md-10">
            <h4>Брайченко Костянтин Вікторович</h4>
            <blockquote>
                <p><em>"Ціль мого життя вносити в людське життя інноваційні технології з урахуванням мого досвіду і посиланням на мої практичні досягнення в різних сферах діяльності."</em></p>
            </blockquote>
            <p><a href="https://vk.com/k.braychenko">https://vk.com/k.braychenko</a></p>
        </div>
    </div>


</div>

