@model Nop.Plugin.Import.ItLink.Models.ImportFromItLinkResultViewModel
@using Nop.Web.Framework

<!-- Modal content-->
<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h5>
			<strong>@T("Plugins.Imort.ItLink.ImportResultCaption")</strong>
		</h5>
	</div>
	<div class="modal-body">
		<div class="row">
			@foreach (var error in Model.Errors)
			{
				<div class="col-md-12">
					<p class="bg-danger">@Html.Raw(error)</p>
				</div>
			}
		</div>
		<div class="row">
			@foreach (var message in Model.Messages)
			{
				<div class="col-md-12">
					<p class="bg-success">@message</p>
				</div>
			}
		</div>
	</div>
	<div class="modal-footer">
		<input type="button" class="btn bg-default" data-dismiss="modal" value="Ok" />
	</div>
</div>

