<div id="homepage-side-info">
    <div class="youtube-links">
        <div class="video-preview">
            <div>
                <a href="https://www.youtube.com/watch?v=RaYbg18jUyg">
                    <img src="~/Themes/NopElectro/Content/images/youtube/Чего стоит опасаться в заказе фермы у НАРОДНЫХ УМЕЛЬЦЕВ.png" />
                </a>
            </div>
        </div>
        <div class="video-preview">
            <div>
                <a href="https://www.youtube.com/watch?v=wOnatSv0eiQ">
                    <img src="~/Themes/NopElectro/Content/images/youtube/Райзер - залог стабильности.png" />
                </a>
            </div>
        </div>
    </div>
</div>